<div class="pageHeader">
  <div class="headerText">
    <h1 class="shadow-lg p-3 mb-5 bg-black rounded">Rafael Dee</h1>
    <h2>Full Stack Developer</h2>
    <div class="col-xs-12 scroll">
      <p>scroll down..</p>
    </div>
  </div>
</div>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div>
        <h1 class="text-center">About</h1>
        <p>
          I'm a capable, full-stack developer. with experience programming
          everything from firebase API to embedded systems, I started to learn
          programming on my own at age 15, I'm always curious about how games
          work, driven by my curiosity, I'm now capable of developing apps,
          games, and other things I can imagine
        </p>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Development Services</h2>
        <hr class="small" />
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-desktop fa-stack-1x icon"></i>
              </span>
              <h4>
                <strong>Desktop</strong>
              </h4>
              <p>C#/Java Desktop Application Development</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-gamepad fa-stack-1x icon"></i>
              </span>
              <h4>
                <strong>Games</strong>
              </h4>
              <p>Unity Game Development</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-mobile fa-stack-1x icon"></i>
              </span>
              <h4>
                <strong>Mobile</strong>
              </h4>
              <p>Developing powerful mobile Apps, with or without a backend</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-database fa-stack-1x icon"></i>
              </span>
              <h4>
                <strong>Database</strong>
              </h4>
              <p>Database Systems Creation, Management &amp; Interfacing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>