<section id="projects">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12 col-xs-offset-2 col-sm-offset-2 col-md-offset-0">
        <h2>
          Projects
          <button
            *ngIf="privilages == 2"
            type="button"
            class="btn btn-primary"
            (click)="createProject()"
          >
            <i class="fa fa-plus"></i>
          </button>
        </h2>

        <hr class="xsall" />
        <div class="row thin-gutters" *ngIf="loaded; else loading">
          <div *ngIf="!notfound; else notFound">
            <div *ngFor="let r of range;let i = index">

              <div class="col-md-4 col-sm-5 col-xs-10">
                <div class="service-item clickable" routerLink="../projects/view" [queryParams]="{ id: r.id }">
                  <img
                  class=" img-responsive"
                  src="{{r.imgthumb}} "
                  style="width:100%"
                />
                  <div class="w-100"></div>
                  <p><strong>{{r.title}}</strong>
                  <p *ngIf="r.publicView">(Private)</p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <ng-template #notFound>
            <section id="notfound">
              <div class="text-center">
                <span class="fa-stack fa-2x">
          <i class="fa fa-exclamation  fa-stack-2x"></i>
        </span>
                <p class="notfoundtxt"><b>404</b></p>
                <p>not found</p>
              </div>
            </section>
          </ng-template>
        </div>

        <ng-template #loading>
          <div class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>