<section id="projects">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12 col-xs-offset-2 col-sm-offset-2 col-md-offset-0">
        <h2>Projects</h2>
        <hr class="xsall" />
        <div class="row thin-gutters" *ngIf="loaded">

          <div *ngFor="let r of range;let i = index">

            <div class="col-md-4 col-sm-5 col-xs-10">
              <div class="service-item clickable" routerLink="../projects/view" [queryParams]="{ id: r.id }">
                <img
                  class=" img-responsive"
                  src="{{r.imgthumb}} "
                  style="width:100%"
                />
                <div class="w-100"></div>
                <p><strong>{{r.title}}</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="!loaded">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
  </div>

</section>