<!-- Modal -->
<div class="modal" let uploadDialog [class.show]="uploadDialog" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>Upload Thumbnail</b>
        </h5>
        <i class="fa fa-times close" (click)="uploadDialog = false"> </i>
      </div>
      <!--TODO diry code please fix future me : URLMode === undefined !-->
      <!--TODO Fix Code! LAZY!! check feilds before submitting only in HTML-->
      <!-- shit code please fix!!-->
      <ul class="nav nav-tabs" *ngIf="ThumbnailView">
        <li class="nav-item">
          <a class="nav-link clickable" [ngClass]="{'active': URLMode == undefined}"
            (click)="URLMode = undefined">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" [ngClass]="{'active': URLMode == true}" (click)="URLMode = true">URL</a>
        </li>
      </ul>
      <div class="modal-body">
        <div *ngIf="ThumbnailView; else YTView">
          <div class="form-group" *ngIf="URLMode == undefined; else uploadMode">
            <div class="file-upload-wrapper">
              <input
              (change)="FileInput = $event.target.files[0]"
              type="file"
              id="input-file-now"
              class="file-upload maxwidth"
              accept="image/*"
            />
            </div>
          </div>
          <ng-template #uploadMode>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"
                ><label for="editOwnerName">URL</label></span>
                <input
                [(ngModel)]="UrlInput"
                type="text"
                class="form-control"
                name="deploymentName"
                id="deploymentName"
                placeholder=""
                autofocus
                autocomplete="off"
              />
              </div>
            </div>
          </ng-template>
        </div>
        <ng-template #YTView>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"
                ><label for="editOwnerName">Youtube ID</label></span>
              <input
                [(ngModel)]="YTIDInput"
                type="text"
                class="form-control"
                name="deploymentName"
                id="deploymentName"
                placeholder=""
                autofocus
                autocomplete="off"
              />
            </div>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="uploadDialog = false"
        >
          Close
        </button>
        <!-- shit code please fix!!-->
        <button *ngIf="ThumbnailView"
          type="button"
          class="btn btn-primary"
          (click)="UploadFile(FileInput,UrlInput,URLMode);uploadDialog = false"
        >
          Save changes
        </button>
        <ng-template>
          <button *ngIf="ThumbnailView"
          type="button"
          class="btn btn-primary"
          (click)="updateVideoUrl(YTIDInput);uploadDialog = false"
        >
          Publish
        </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="view " *ngIf="loaded; else loading">
  <div *ngIf="!notfound; else notFound">
    <div class="viewHeader">
      <button type="button" class="btn btn-primary" (click)="saveProject()">
        <i class="fa fa-floppy-o"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="setView()">
        <p *ngIf="publicView;else private">Public</p>
        <ng-template #private><p>Private</p></ng-template>
      </button>
      <button type="button" class="btn btn-primary" (click)="setThumbView()">
        <p *ngIf="ThumbnailView;else YTview">Thumbnail</p>
        <ng-template #YTview><p>Youtube</p></ng-template>
      </button>
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-8 col-md-7 text-center">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 "></div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 clickable" (click)="uploadDialog = true">
            <div>
              <iframe class="video" *ngIf="videoUrl!=''; else image" frameborder="0" allowfullscreen [src]="videoUrl">
              </iframe>
              <ng-template #image>
                <img
                  class="maxwidth"
                  [(src)]="Thumbnail"
                  (load)="onImageLoad()"
                />
              </ng-template>
            </div>
            <div class="progress" *ngIf="uploading">
              <div class="progress-bar progressbar-bkg progress-bar-animated progress-bar-striped" role="progressbar"
                [ngStyle]="{'width': uploadPercent}" aria-valuenow="uploadPercent" aria-valuemin="0"
                aria-valuemax="100">
                <ng-template *ngIf="uploadPercent != '100%';else uploading">
                  Uploading...
                </ng-template>
                <ng-template #uploading>
                  Uploaded! wait...
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-xs-1  col-sm-1 col-md-1 col-lg-2 "></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5">
          <div class="headerText">
            <h1 class="shadow-lg p-3 mb-5 bg-black rounded" spellcheck="false" (input)="Title=$event.target.innerText"
              contenteditable="true" [textContent]="Title"></h1>
            <h2 spellcheck="false" contenteditable="true" (input)="Subtitle=$event.target.innerText"
              [textContent]="Subtitle"></h2>
          </div>
        </div>
        <div class="col-xs-12 scroll">
          <p>scroll down..</p>
        </div>
      </div>
    </div>
    <section id="about" class="about HTMLcontent">
      <div class="container">
        <div class="row">
          <div class="content">
            <div class="dropdown" dropdown>
              <i
                class="fa fa-plus fa-2x clickable dropdown-toggle"
                dropdownToggle
                aria-controls="dropdown-basic"
              ></i>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let validtype of validTypes">
                  <a class="dropdown-item clickable"
                    (click)="appendNew(validtype.name)"><i class="fa fa-{{validtype.icon}}"></i>
                    {{validtype.value}}</a>
                </li>
              </ul>
            </div>
            <div *ngFor="let item of list;let i = index">
              <div class="dropdown" dropdown>
                <i
                  class="fa fa-pencil fa-fw clickable dropdown-toggle"
                  dropdownToggle
                  aria-controls="dropdown-basic"
                ></i>
                <ul id="dropdown-basic" class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem">
                    <p class="dropdown-item text-center">
                      <i class="fa fa-plus"></i> Add
                    </p>
                  </li>
                  <li role="menuitem" *ngFor="let validtype of validTypes">
                    <a class="dropdown-item clickable"
                      (click)="appendNext(i,validtype.name)"><i class="fa fa-{{validtype.icon}}"></i>
                      {{validtype.value}}</a>
                  </li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="deleteItem(i)"><i class="fa fa-trash"></i> Delete</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="item.type == 'paragraph'">
                <p contenteditable="true" (input)="item.content=$event.target.innerText" [textContent]="item.content">
                </p>
              </div>

              <div *ngIf="item.type=='pre'">
                <pre spellcheck="false" contenteditable="true" (input)="item.content=$event.target.innerText"
                  [textContent]="item.content"></pre>
              </div>

              <div *ngIf="item.type == 'image'">
                <div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-4 col-lg-5"></div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                      <img src="{{item.content}}" />
                    </div>
                    <div class="col-xs-3 col-sm-4 col-lg-5"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <ng-template #notFound>
    <section id="notfound">
      <div class="text-center">
        <span class="fa-stack fa-2x">
          <i class="fa fa-exclamation  fa-stack-2x"></i>
        </span>
        <p class="notfoundtxt"><b>404</b></p>
        <p>not found</p>
      </div>
    </section>
  </ng-template>
</div>

<ng-template #loading>
  <div class="text-center" *ngIf="!loaded">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-template>