<section id="projects">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-lg-offset-1">
        <h2>Knowledge</h2>
        <hr class="small">
        <div class="row">

          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div>
                <span class="fa-stack fa-1x">
                                    <i i class="fa fa-gamepad fa-stack-2x"></i>
                                </span>
                <h4>
                  Game Development
                </h4>
              </div>
              <p>I have a lot of experience using Unity in C#, this is where I started learning programming before i got
                into Senior High</p>

            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <div>
                <span class="fa-stack fa-1x">
                                    <i class="fa fa-paint-brush fa-stack-2x "></i>
                                </span>
                <h4>
                  Content Creation
                </h4>
              </div>
              <p>In my free time, I'm developing my skills with Photoshop, Premiere Pro, After Effects, and more</p>

            </div>
          </div>



          <div class="col-md-4 col-sm-6">

            <div class="service-item">
              <div>
                <span class="fa-stack fa-1x">
                                    <i class="fa fa-mobile fa-stack-2x"></i>
                                </span>
                <h4>
                  Android Development
                </h4>
              </div>
              <p>i am heavily experienced using android studio in Senior High School, i haved worked with firebase,
                sqlite and more
              </p>

            </div>
          </div>

          <div class="col-md-4 col-sm-6">

            <div class="service-item">
              <div>
                <span class="fa-stack fa-1x">
                                    <i class="fa fa-globe fa-stack-2x"></i>
                                </span>
                <h4>
                  Web Development
                </h4>
              </div>
              <p>I have recently started learning web development this around March 2021, i can work with
                HTML,CSS,JS,Angular and Typescript Using
                Stackblitz, i have used this knowledge to build this website!
              </p>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

<section id="skills">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>My Skills</strong></h2>
        <div class="row">


          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>HTML/CSS</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg " role="progressbar" style="width: 35%" aria-valuenow="35"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Typescript/Javascript</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Android Studio</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 85%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Unity</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 75%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Visual Studio 2019</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 65%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>C#</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 70%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Java</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 80%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="skills-item">
              <h4>
                <strong>Debugging Techniques</strong>
              </h4>
              <div class="progress">
                <div class="progress-bar progressbar-bkg" role="progressbar" style="width: 65%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>